<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <!-- 动物装饰图 -->
  <div
    class="sticky bottom-2 z-30 flex w-full translate-y-[25px] justify-center bg-cover bg-center after:absolute after:bottom-[25px] after:left-0 after:h-[60%] after:w-full after:content-[''] md:bottom-0"
  >
    <div class="mx-auto flex justify-center lg:w-[950px] xl:w-[1200px]">
      <img
        th:if="${theme.config.footer.footerAnimalImage != '' }"
        th:src="${theme.config.footer.footerAnimalImage}"
        alt="动物装饰"
        width="660.34"
        height="79.99"
        th:class="${theme.config.footer.showFooterAnimalImageOnMobile ? 'relative z-40' : 'relative md:block'} "
      />
      
    </div>
  </div>
  <!-- 底部内容区域 -->
  <footer  >
    <halo:footer />
    <div th:unless="${theme.config.footer.useHaloFooterOnly}" class="border-gray-200/50 bg-base-100 py-8 backdrop-blur-md transition-colors">
      <!-- 个性化标语 -->
      <div th:if="${theme.config.footer.footerSlogan}" class="animate-fade-in mb-1 text-center">
        <p
          class="transform bg-gradient-to-r from-teal-400 to-blue-400 bg-clip-text px-1 text-lg font-medium italic text-transparent transition-all duration-500 hover:scale-105 dark:from-teal-300 dark:to-blue-300"
        >
          [[${theme.config.footer.footerSlogan}]]
        </p>
      </div>

      <div class="animate-fade-in mt-1 flex flex-col items-center space-y-1">
        <!-- 构建信息和备案信息 作者信息展示区-->
        <div
          class="flex flex-col flex-wrap items-center justify-center gap-4 text-sm text-gray-500 sm:flex-row dark:text-gray-400"
        >
          <div
            th:if="${theme.config.footer.contactEmail}"
            class="flex transform items-center px-2 transition-all duration-300 hover:scale-110"
          >
            <a
              th:href="'mailto:' + ${theme.config.footer.contactEmail}"
              class="hover:text-primary-500 dark:hover:text-primary-400 text-sm text-gray-500 transition-colors dark:text-gray-400"
            >
              <span>[[${theme.config.footer.contactText}]]</span>
            </a>
          </div>
          <div
            th:if="${theme.config.footer.supportText}"
            class="transform px-2 transition-all duration-300 hover:scale-110"
          >
            <a
              th:href="${theme.config.footer.supportLink}"
              target="_blank"
              rel="noopener noreferrer"
              class="hover:text-primary-500 dark:hover:text-primary-400 transition-colors"
            >
              [[${theme.config.footer.supportText}]]
            </a>
          </div>
          <div th:if="${theme.config.footer.icp}" class="transform px-2 transition-all duration-300 hover:scale-110">
            <a
              th:href="${theme.config.footer.icpLink}"
              target="_blank"
              rel="noopener noreferrer"
              class="hover:text-primary-500 dark:hover:text-primary-400 transition-colors"
            >
              [[${theme.config.footer.icp}]]
            </a>
          </div>
          <div th:if="${theme.config.footer.ga}" class="transform px-2 transition-all duration-300 hover:scale-110">
            <a
              th:href="${theme.config.footer.gaLink}"
              target="_blank"
              rel="noopener noreferrer"
              class="hover:text-primary-500 dark:hover:text-primary-400 transition-colors"
            >
              [[${theme.config.footer.ga}]]
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</html>
