<!-- 波浪效果组件 -->
<div th:fragment="ripple" class="absolute bottom-0 left-0 right-0 w-full overflow-hidden leading-[0]">
  <svg
    class="relative h-[60px] w-full md:h-[80px]"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28"
    preserveAspectRatio="none"
    shape-rendering="auto"
  >
    <defs>
      <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>

    <g class="parallax">
      <use xlink:href="#gentle-wave" x="48" y="0" class="animate-wave-1 fill-blue-50/40 dark:fill-gray-800/40" />
      <use xlink:href="#gentle-wave" x="48" y="3" class="animate-wave-2 fill-blue-50/50 dark:fill-gray-800/50" />
      <use xlink:href="#gentle-wave" x="48" y="5" class="animate-wave-3 fill-blue-50/60 dark:fill-gray-800/60" />
      <use xlink:href="#gentle-wave" x="48" y="7" class="animate-wave-4 fill-blue-50/80 dark:fill-gray-800/80" />
    </g>
  </svg>
</div>

<style>
  @keyframes moveForever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }

  .animate-wave-1 {
    animation: moveForever 30s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
    animation-delay: -2s;
  }

  .animate-wave-2 {
    animation: moveForever 24s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
    animation-delay: -3s;
  }

  .animate-wave-3 {
    animation: moveForever 18s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
    animation-delay: -4s;
  }

  .animate-wave-4 {
    animation: moveForever 12s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
    animation-delay: -5s;
  }

  @media (max-width: 768px) {
    .waves {
      height: 30px;
      min-height: 20px;
    }
  }
</style>
